@page "/reservations"
@using Assignment2.Data
@inject ReservationManager reservationManager

@* RESERVATIONS *@
<div id="reservsTop" class="flex">
    <div id="reservations" class="flex">
        <div id="reservsTableHeader" class="flex">
            <h3>Reservations</h3>
        </div>
        <div id="reservsTable" class="flex">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Flight</th>
                        <th>Airline</th>
                        <th>Cost</th>
                        <th>Name</th>
                        <th>Citizenship</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="ft-body">
                    @*@foreach (var flight in flights) //@flight.code, @flight.airline etc.
                    {*@
                    @foreach (var reservation in rList)
                    {
                        <tr>
                            <td>@reservation.Code</td>
                            <td>@reservation.Flight</td>
                            <td>@reservation.Airline</td>
                            <td>@reservation.Cost</td>
                            <td>@reservation.Name</td>
                            <td>@reservation.Citizenship</td>
                            <td>@reservation.Status</td>
                        </tr>
                    }
                    @*}*@
                </tbody>
            </table>
        </div>
    </div>

    @* RESERVE *@
    <div id="reserve" class="flex">
        <div id="reserveHeader" class="flex">
            <h3>Reserve</h3>
        </div>
        <div class="flex">
            <label for="code" class="res-lcol">Code:</label>
            <input type="text" class="res-rcol" />
        </div>
        <div class="flex">
            <label for="flight" class="res-lcol">Flight:</label>
            <input type="text" class="res-rcol" />
        </div>
        <div class="flex">
            <label for="airline" class="res-lcol">Airline:</label>
            <input type="text" class="res-rcol" />
        </div>
        <div class="flex">
            <label for="cost" class="res-lcol">Cost:</label>
            <input type="text" class="res-rcol" />
        </div>
        <div class="flex">
            <label for="name" class="res-lcol">Name:</label>
            <input type="text" class="res-rcol" />
        </div>

        <div class="flex">
            <label for="citizen" class="res-lcol">Citizenship:</label>
            <input type="text" class="res-rcol" />
        </div>

        <div class="flex">
            <label for="status" class="res-lcol">Status:</label>
            <select class="res-rcol">
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-default">Reserve</button>
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </div>


    @* SEARCH *@

    <div id="resFinder" class="flex">
        <div id="resFinderHeader" class="flex">
            <h3>Search</h3>
        </div>

        @*text input for 'CODE'*@
        <div class="flex">
            <label for="code" class="res-lcol">Code:</label>
            <input type="text" class="form-control" @bind="@codeInput"/>
        </div>

        @*text input for 'AIRLINE'*@
        <div class="flex">
            <label for="airline" class="res-lcol">Airline:</label>
            <input type="text" class="form-control" @bind="@airlineInput"/>
        </div>

        @*text input for 'NAME'*@
        <div class="flex">
            <label for="name" class="res-lcol">Name:</label>
            <input type="text" class="form-control" @bind="@nameInput"/>
        </div>

        <button type="submit" class="btn btn-default rf-btn" @onclick="@Find_Res">Find Reservations</button>
    </div>

</div>




@code {
    List<Reservation> rList = ReservationManager.GetReservations();
    public string codeInput;
    public string airlineInput;
    public string nameInput;


    protected async void Find_Res()
    {
        await base.OnInitializedAsync();
        rList = ReservationManager.revertList();

        //Check if only one of them is picked 

    }
}
